<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>代码生成器</title>
    <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script>
        $(function(){
            $(".addField").click(function(){
               var fieldDiv = '<div class="field"> 属性名：<input type="text"/> 类型：<input type="text"/> 是否必填：<input type="checkbox"/>  <input class="removeField" type="button" value="移除"/>   </div>'
                $(this).parent().append(fieldDiv);
            });
             $(".item").on("click",'.removeField',function(){
                 $(this).parent().remove();
             });
             
             $("#generate").click(function(){
                 var bean={};
                 $(".item").each(function(){
                     switch($(this).index()){
                         case 0:
                             bean.packageName=$(this).find('input').val();
                             break;
                         case 1:
                             bean.className=$(this).find('input').val();
                             break;
                         case 2:
                             bean.addList = new Array();
                             $(this).find('.field').each(function(){
                                 var field = {};
                                 field.name = $(this).find('input').eq(0).val();
                                 field.type = $(this).find('input').eq(1).val();
                                 field.isMust = $(this).find('input').eq(2).prop('checked');
                                 bean.addList.push(field);
                             });
                             break;
                         case 3:
                             bean.deleteList = new Array();
                             $(this).find('.field').each(function(){
                                 var field = {};
                                 field.name = $(this).find('input').eq(0).val();
                                 field.type = $(this).find('input').eq(1).val();
                                 field.isMust = $(this).find('input').eq(2).prop('checked');
                                 bean.deleteList.push(field);
                             });
                             break;
                         case 4:
                             bean.searchLis = new Array();
                             $(this).find('.field').each(function(){
                                 var field = {};
                                 field.name = $(this).find('input').eq(0).val();
                                 field.type = $(this).find('input').eq(1).val();
                                 field.isMust = $(this).find('input').eq(2).prop('checked');
                                 bean.searchLis.push(field);
                             });
                             break;
                         
                     }
                 });
                 console.log(JSON.stringify(bean));
             });
        })
        
    </script>
</head>
<body>
    <div class="wrap">
        <div class="item">
            包名：<input type="text"/>
        </div>
         <div class="item">
            类名：<input type="text"/>
        </div>
        <div class="item">
            新增：<input class="addField" type="button" value="添加属性"/>
        </div>
        <div class="item">
            删除：<input class="addField" type="button" value="添加属性"/>
        </div>
        <div class="item">
            查询：<input class="addField" type="button" value="添加属性"/>
        </div>
        <br>
        <input id="generate" type="button" value="提交"/>
    </div>
</body>
</html>
